body {
    margin: 0 0;
}

#add-button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

#save-button {
    position: fixed;
    bottom: 6rem;
    right: 1rem;
}

#table-container {
    width: 100%;
    height: 100%;
    background: white;
    display: none;
}

.mdl-data-table {
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
}